# Env
NODE_ENV=development

# App
PORT=3000
API_URL=http://localhost:3000/api/v1

# Database — variables utilisées par Docker Compose ET Prisma
POSTGRES_USER=datashare
POSTGRES_PASSWORD=datashare
POSTGRES_DB=datashare
POSTGRES_PORT=5432
DATABASE_URL="postgresql://datashare:datashare@localhost:5432/datashare"

# JWT
JWT_SECRET="change_me_in_production"
JWT_EXPIRES_IN="7d"
